.customer{
    margin-top: 116px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-bottom: 189px;
    overflow: hidden;
    position: relative;

}

.customer__title{
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 45px;
    line-height: 57%;
    color: #323142;
    margin-bottom: 80px;
}


.reviews__area{
    /* display: flex;
    align-items: flex-start; */
    margin-left: 125px;
    padding-bottom: 30px;
    /* width: 1731px;
    height: 307px; */
   
}


.swiper {
    width: 1731px;
    height: 307px;
}
  
