.customer{
    margin-top: 116px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

    margin-bottom: 189px;

    overflow: hidden;
    position: relative;

}

.customer__title{
    font-weight: 600;
    font-size: 45px;
    line-height: 57%;
    color: #323142;
    margin-bottom: 80px;
}


.reviews__area{
    display: flex;
    align-items: flex-start;
    margin-left: 125px;
    padding-bottom: 30px;
   
}

.scrolly{
    position: absolute;
    top: 458px;
    right: 82px;
    background: #6c5fbc;
    opacity: 0.2;
    border-radius: 50px;
    width: 667px;
    height: 11px;
}




