.area{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 285px;
    flex-direction: column;

}

.area__title{
    font-family: var(--font-title);
    font-weight: 600;
    font-size: 45px;
    line-height: 120%;
    color: #323142;
    margin-bottom: 75px;
}

.cardsArea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 46px;
    margin-bottom: 64px;
}

.buttonArea{
    display: flex;
    flex-direction: row;
    gap:79px;
}


.arrow{
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;  
}



.arrowLeftBlock{
    background-image: url("../../assets/LeftBlock.png");
}

.arrowLeftActive{
    background-image: url("../../assets/LeftActive.png");
}


.arrowRightBlock{
    background-image: url("../../assets/rightBlock.png");
}


.arrowRightActive{
    background-image: url("../../assets/rightActive.png");
}