.area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.area__title{
    font-weight: 600;
    font-size: 45px;
    line-height: 120%;
    text-align: center;
    color: #323142;
    margin-bottom: 114px;
}