.reviews{
    border-radius: 20px;
    background-color: #fff;
    width: 528px;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 38px;
    box-shadow: 10px 4px 10px 5px rgba(229, 229, 229, 0.7);
}

.reviews__customerInfo{
    width: 435px;
    background-image: url("../../assets/commas.png");
    background-repeat: no-repeat;
    background-position: 100% 12%;
}


.reviews__customerInfo__description{
    margin-bottom: 31.96px;

}

.reviews__customerInfo__description__name{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #030314;
}


.reviews__customerInfo__paragraph{
    font-family: var(--font-customer);
    width: 442px;
    margin-bottom: 51px;
    text-wrap: wrap;
    color: #636363;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: justify;   
}



