.header{
    flex-shrink: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.header__area{
    display: flex;
    flex-direction: row;
   
    margin: 48px 97px 24.6px 97px;
    /* width: 1248px; */
    /* height: 62px */

}

.header__menu{
    display: flex;
    gap: 53.49px;
}

.header__menu__item{
    list-style-type: none;
}

.logo{
    width: 111px;
    height: 42px;
    margin-right: 104px;
}

.header__border{
    margin-left: 97px;
    margin-right: 97px;
    border-bottom: 1px solid #cbcbcb;
}