.header{
    flex-shrink: 0;
}

.header__area{
    display: flex;
    flex-direction: row;
    margin: 48px 97px 24.6px 97px;
}

.header__menu{
    display: flex;
    gap: 53.49px;
}

.header__menu__item{
    font-family: var(--font-header);
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    text-transform: capitalize;
    color: #606060;
}

.logo{
    width: 111px;
    height: 42px;
    margin-right: 104px;
}

.header__border{
    margin-left: 97px;
    margin-right: 97px;
    border-bottom: 1px solid #cbcbcb;
}