@import '~normalize.css';

:root {
  --font-title: "Poppins SemiBold", sans-serif;
  --font-header: "Inter Medium", sans-serif;
  --font-paragraph: "Inter", sans-serif;
  --font-customer: "Poppins", sans-serif;
  --font-titleSecond: "Poppins Bold", sans-serif;
  --font-miniInfo: "Manrope Regular", sans-serif;
  --font-cardSubtitle: "Poppins Medium", sans-serif;

}

@font-face {
  font-family: var(--font-titleSecond);
  src: url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--font-title);
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--font-paragraph);
  src: url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--font-header);
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--font-miniInfo);
  src: url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: var(--font-customer);
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap'");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: var(--font-cardSubtitle);
  src: url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
}

.page{
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
}


.main{
  flex-grow: 1; 
}


.highlight{
  color: #5c4eae;
}
